<div class='bg-home'>
  <div class="banner">
    <div class="container">
      <div class="banner-text">
        <div class="banner-heading">Estudo acessível para todos!</div>
        <div class="banner-sub-heading">Vem pra e-TOT e descubra como!</div>
        <button type="button" class="btn-primary text-dark btn-banner" routerLink="/cadastro">
          Começar agora
        </button>
      </div>
    </div>
  </div>

  <div class=" container">
    <div class="text-intro">
      <h1 class="seja"><span>S</span><span>E</span><span>J</span><span>A
        </span><span></span><span>B</span><span>E</span><span>M </span><span>
        </span><span>V</span><span>I</span><span>N</span><span>D</span><span>E</span></h1>
      <div class="d-flex">
        <p class="fonte-bem2 mt-40">
          "PLATAFORMA EDUCACIONAL DIRECIONADA AO DESENVOLVIMENTO DE PESSOAS PARA O MERCADO DA TECNOLOGIA, COM ENFOQUE NO FÁCIL ACESSO DE METODOLOGIAS DIDÁTICAS DESCOMPLICADAS!"
        </p>
        <img src="assets/img/globo.png" alt="globo">
      </div>
    </div>
  </div>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <!-- Team -->
  <section id="team" class="pb-5">
    <div class="container">
      <h2 class="section-title bg-warning text-dark">MENSAGENS QUE TORNAM O NOSSO SONHO REALIDADE</h2>
      <div class="row">
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip">
            <div class="mainflip flip-0">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid" src="https://i.imgur.com/ZZw6KBX.jpg" alt="card image"></p>
                    <h4 class="card-title">Jennifer (Instrutora)</h4>
                    <p class="card-text">"Inovação, educação e oportunidade à todos é a chave."</p>
                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary1 btn-sm"><i
                        class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Jennifer (Instrutora)</h4>
                    <p class="card-text">Sou formada há 4 anos em desenvolvimento de softwares, e quando e-TOT me apresentou o
                      projeto pra mim e a sua visão, eu embarquei nessa missão me tornando parte desse time espetacular.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid"
                        src="https://image.cnbcfm.com/api/v1/image/106010276-1576017489582shaq.jpg?v=1576017506&w=1400&h=950"
                        alt="card image"></p>
                    <h4 class="card-title">Shaq (Investidor)</h4>
                    <p class="card-text">"Invisto em educação, pois só ela pode mudar o mundo"</p>
                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary1 btn-sm"><i
                        class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Shaq (Investidor)</h4>
                    <p class="card-text">Sempre quis de alguma forma mudar o mundo pra melhor, fazer a diferença de
                      algum modo, até que me foi
                      apresentado o projeto da e-TOT e eu me encantei de primeira e decidi investir meu dinheiro pra
                      tornar esse sonho realidade e mudar efetivamente a vida
                      dos que mais precisam.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid"
                        src="https://ganhoseperdas.files.wordpress.com/2012/10/64086_10150705679090033_549230032_11618590_973700435_n.jpg"
                        alt="card image"></p>
                    <h4 class="card-title">Pedro (apoiador)</h4>
                    <p class="card-text">"A e-TOT me ajudou demais na minha colocação no mercado!"</p>
                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary1 btn-sm"><i
                        class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Pedro (apoiador)</h4>
                    <p class="card-text">A e-TOT me deu a oportunidade de me tornar apta a entrar no mercado, com
                      tecnologias de ponta ensino de qualidade, e tudo isso de forma acessível</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpGecRBJWNcC72tN_x6rDOKb69OSi9PCB0tA&usqp=CAU"
                        alt="card image"></p>
                    <h4 class="card-title">Joana (Aluna)</h4>
                    <p class="card-text">"Acredito no futuro, isso graças a e-TOT"</p>
                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary1 btn-sm"><i
                        class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Joana (Aluna)</h4>
                    <p class="card-text">Estou finalizando as formações disponíveis na plataforma, hoje já me sinto
                      outra pessoa com tudo que me foi proporcionado
                      pela e-TOT, me sinto seguro e agradeço demais a oportunidade. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRvDEFCSz6OYlWKpPRsI6f7-_ToJGAstifDsA&usqp=CAU"
                        alt="card image"></p>
                    <h4 class="card-title">Carlos (Aluno)</h4>
                    <p class="card-text">"Achava que era impossível estudar PYTHON e JAVA, por ser muito caro um
                      curso..."</p>
                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary1 btn-sm"><i
                        class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Carlos (Aluno)</h4>
                    <p class="card-text">Venho de família muito pobre, porém sempre gostei de tecnologia, mesmo tendo
                      pouco acesso, mas assim que conheci a e-TOT esse quadro da minha vida mudou, hoje já sou
                      desenvolvedor JAVA e PYTHON formado!!!</p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ./Team member -->
        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid"
                        src="https://tmssl.akamaized.net/images/portrait/originals/91845-1599987413.jpg?lm=1599987436"
                        alt="card image"></p>
                    <h4 class="card-title">SON (Profissional da área)</h4>
                    <p class="card-text">A e-TOT mudou minha vida!</p>
                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary1 btn-sm"><i
                        class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">SON (Profissional da área)</h4>
                    <p class="card-text">Sou de origem asiática e vim refugiado da guerra que estava instaurada em meu
                      país, não tinha nenhuma perspectiva de vida, através da e-TOT eu tive uma oportunidade de aprender
                      programação
                      e isso fez com que eu me colocasse no mercado de trabalho e me especializasse, mudando assim a
                      minha história!</p>

                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!-- ./Team member -->
      </div>
    </div>
  </section>

  <div class="container d-flex">

    <img src="assets/img/mulher.png" alt="">
    <div>
      <p class="p-home p-0">Se perguntando ao que terá acesso???

      </p>
      <p class="p-home p-0 mt-3">
        Veja abaixo as categorias de cursos disponíveis!
      </p>
    </div>

  </div>

  <!-- Team -->
  <br><br><br>

  <div class="courses-container d-flex justify-content-center ">

    <div class="course1">
      <div class="course-preview1">
        <h6>Categoria</h6>
        <h2 class="editH2">Lógica de programação</h2>
        <a routerLink="/cursos">Ver mais + <i class="fas fa-chevron-right"></i></a>
      </div>
      <div class="course-info1">
        <div class="progress-container1">
          <div class="progress1"></div>
          <span class="progress-text1"> 1/3 Dificuldade </span>
        </div>
        <h6>Tecnologia</h6>
        <h2>Tudo para um ínicio de carreira Dev</h2>
        <button class="btn1" routerLink="/cursos">Ir!</button>
      </div>
    </div>
  </div>
  <div class="courses-container d-flex justify-content-center ">
    <div class="course">
      <div class="course-preview">
        <h6>Categoria</h6>
        <h2 class="editH2">Back-End</h2>
        <a routerLink="/cursos">Ver mais + <i class="fas fa-chevron-right"></i></a>
      </div>
      <div class="course-info">
        <div class="progress-container">
          <div class="progress2"></div>
          <span class="progress-text2"> 2/3 Dificuldade </span>
        </div>
        <h6>Tecnologia</h6>
        <h2>Java, Spring Boot, REST e muito mais...</h2>
        <button class="btn" routerLink="/cursos">Ir!</button>
      </div>
    </div>
  </div>
  <div class="courses-container d-flex justify-content-center ">
    <div class="course1">
      <div class="course-preview1">
        <h6>Categoria</h6>
        <h2 class="editH2">Banco de dados</h2>
        <a routerLink="/cursos">Ver mais +<i class="fas fa-chevron-right"></i></a>
      </div>
      <div class="course-info1">
        <div class="progress-container">
          <div class="progress3"></div>
          <span class="progress-text3"> 2/3 Dificuldade </span>
        </div>
        <h6>Tecnologia</h6>
        <h2>SQL, MySQL, MogoDB, Oracle DB e mais...</h2>
        <button class="btn1" routerLink="/cursos">Ir!</button>
      </div>
    </div>
  </div>
  <div class="courses-container d-flex justify-content-center ">
    <div class="course">
      <div class="course-preview">
        <h6>Categoria</h6>
        <h2 class="editH2">Front-end</h2>
        <a routerLink="/cursos">Ver mais + <i class="fas fa-chevron-right"></i></a>
      </div>
      <div class="course-info">
        <div class="progress-container">
          <div class="progress4"></div>
          <span class="progress-text4"> 2/3 Dificuldade </span>
        </div>
        <h6>Tecnologia</h6>
        <h2>HTML, CSS, JavScript, TypeScript, Angular e mais...</h2>
        <button class="btn" routerLink="/cursos">Ir!</button>
      </div>
    </div>
  </div>
  <div class="courses-container d-flex justify-content-center ">
    <div class="course1">
      <div class="course-preview1">
        <h6>Categoria</h6>
        <h2 class="editH2">WEB Completo</h2>
        <a routerLink="/cursos">Ver mais + <i class="fas fa-chevron-right"></i></a>
      </div>
      <div class="course-info1">
        <div class="progress-container">
          <div class="progress5"></div>
          <span class="progress-text5"> 3/3 Dificuldade </span>
        </div>
        <h6>Tecnologia</h6>
        <h2>Curso completo de desenvolvimento WEB</h2>
        <button class="btn1" routerLink="/cursos">Ir!</button>
      </div>
    </div>
  </div>

  <div class=" container d-flex p-5">

    <img class="img-rodape" src="assets/img/tempo-removebg-preview.png" alt="">
    <div clas="container">
      <p class="p-home2">NÃO PERCA TEMPO!
        INICIE SUA CARREIRA TECH NA e-TOT JÁ!</p>
      <br>
      <div class="d-flex p-5">
        <button class="buttonR" routerLink="/cadastro">
          <span>Inscreva-se!</span>
        </button>
        <button class="buttonS"routerLink="/cursos"> <!--Colocar o routerLink do Saiba Mais-->
          <span>Saiba Mais</span>
        </button>
      </div>
    </div>
  </div>
</div>