<div class="bg-contato">


    <div class="background">
        <div class="container d-flex ">

            <div class="screen">
                <div class="screen-header">
                    <div class="screen-header-left">
                        <div class="screen-header-button close"></div>
                        <div class="screen-header-button maximize"></div>
                        <div class="screen-header-button minimize"></div>
                    </div>
                    <div class="screen-header-right">
                        <div class="screen-header-ellipsis"></div>
                        <div class="screen-header-ellipsis"></div>
                        <div class="screen-header-ellipsis"></div>
                    </div>
                </div>
                <div class="screen-body">
                    <div class="screen-body-item left">
                        <div class="app-title">
                            <span>Entre em</span>
                            <span>Contato conosco</span>
                        </div>
                        <div class="app-contact">CONTACT INFO : 11999999999</div>
                    </div>
                    <div class="screen-body-item">
                        <div class="app-form">
                            <div class="app-form-group">
                                <input class="app-form-control" placeholder="NOME" id='nome' [(ngModel)]='nome'
                                    (keyup)='validaNome()'>
                                <div id="txtNome"></div>
                            </div>

                            <div class="app-form-group">
                                <input class="app-form-control" placeholder="EMAIL" id='email' [(ngModel)]='email'
                                    (keyup)='validaEmail()'>
                                <div id="txtEmail"></div>
                            </div>

                            <div class="app-form-group">
                                <input class="app-form-control" placeholder="MENSAGEM" id='assunto'
                                    [(ngModel)]='assunto' (keyup)='validaAssunto()'>
                                <div id="txtAssunto"></div>
                            </div>


                            <div class="app-form-group buttons">

                                <button class="app-form-button" (click)='enviar()'>ENVIAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 w3-animate-top m-tot">
            <div class="justify-content-end ">
                <img height="400px" src="assets/img/tot.png" alt="Deus Tot">
            </div>
        </div>

    </div>


</div>