.bg-delete {
  background: linear-gradient(#141e30, #243b55)
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.corLetra{
  color: #ffff
}