<div class="bg-social">
<div class="container ">
		<header class="main-header clearfix">
			<img class="logo w-10" src="./assets/img/logo_social1.png" >
			<h1 class="name">NOSSOS TRABALHOS SOCIAIS VOLTADOS A INCLUSÃO <br> <br> <span>GALERIA DE FOTOS E INFORMAÇÕES</span><br> <br><span> (PASSE O MOUSE EM CIMA DAS IMAGENS E VEJA)</span></h1>
		</header>

		<div class="content clearfix">

            
			<div class="cube-container">
				<div class="photo-cube">

					<img class="front"src="./assets/img/favelatech1.jpg" alt="">
					<div class="back photo-desc">
					  <h3>FAVELA TECH</h3>
					  <p>Projeto inciado em 2017, focado em levar o ensino GRATUITO das tecnologias atuais e da computação em geral para comunidades do RJ e de SP</p>
						<a routerLink="/apoiadores" class="button">APOIE</a>             
					</div>
					<img class="left" src="./assets/img/favelatech2.jpg" alt="">
					<img class="right" src="./assets/img/favelatech3.jpg" alt="">

				</div>
                
			</div>	

			<div class="cube-container">
				<div class="photo-cube">

					<img class="front" src="./assets/img/programina1.jpeg" alt="">
					<div class="back photo-desc">
					  <h3>PROGRAMINA</h3>
					  <p>Projeto para integrar mulheres na área da tecnologia, proporcionando formação e ensino GRATUITO</p>
						<a routerLink="/apoiadores" class="button">APOIE</a>
					</div>
					<img class="left" src="./assets/img/programina2.jpeg" alt="">
					<img class="right" src="./assets/img/programina3.jpeg" alt="">

				</div>
			</div>	

			<div class="cube-container">
				<div class="photo-cube">

					<img class="front" src="./assets/img/jovemainda1.jpg" alt="">
					<div class="back photo-desc">
					  <h3>JOVEM AINDA</h3>
					  <p>Programa especializado em levar o ensino GRATUITO da programação para idosos</p>
						<a routerLink="/apoiadores"class="button">APOIE</a>
					</div>
					<img class="left" src="./assets/img/jovemainda2.jpg" alt="">
					<img class="right" src="./assets/img/jovemainda3.jpg" alt="">

				</div>
			</div>	

		</div>
        <div class="content clearfix">

            
			<div class="cube-container">
				<div class="photo-cube">

					<img class="front"src="./assets/img/fortodes1.jpg" alt="">
					<div class="back photo-desc">
					  <h3>FOR TODES</h3>
					  <p>Bootcamp GRATUITO exclusivo para pessoas LGBTQI+ </p>
						<a routerLink="/apoiadores" class="button">APOIE</a>             
					</div>
					<img class="left" src="./assets/img/fortodes2.jpeg" alt="">
					<img class="right" src="./assets/img/fortodes3.jpeg" alt="">

				</div>
                
			</div>	

			<div class="cube-container">
				<div class="photo-cube">

					<img class="front" src="./assets/img/refutech1.jpg" alt="">
					<div class="back photo-desc">
					  <h3>REFUTECH</h3>
					  <p>Cursos e formações GRATUITOS voltados a pessoas refugiadas, com enfoque em introduzi-los no mercado de trabalho</p>
						<a routerLink="/apoiadores" class="button">APOIE</a>
					</div>
					<img class="left" src="./assets/img/refutech2.jpg" alt="">
					<img class="right" src="./assets/img/refutech3.jpg" alt="">

				</div>
			</div>	

        <div class="cube-container">
				<div class="photo-cube">

					<img class="front" src="./assets/img/pcdonpc1.png" alt="">
					<div class="back photo-desc">
					  <h3>PCD on PC</h3>
					  <p>Programa de inovação GRATUITO focalizado em pessoas pessoas especiais de todas as idades</p>
						<a routerLink="/apoiadores" class="button">APOIE</a>
					</div>
					<img class="left" src="./assets/img/pcdonpc2.png" alt="">
					<img class="right" src="./assets/img/pcdonpc3.png" alt="">

				</div>
			</div>	

		</div>
	</div>
  
   
