<div class="bg-apoiadores">
  <main class="st_viewport mt-0 mb-0">
    <div class="st_wrap_table" data-table_id="0">
      <header class="st_table_header">
        <h2 class="editH2">PAGINA CRIADA EM HOMENAGEM AOS NOSSO ALUNES APOIADORES</h2><br>
        <div class="st_row justify-content-center">
          <div class="st_column _rank">Ranking</div>
          <div class="st_column _name">Nome</div>
          <div class="st_column _surname">Local</div>
          <div class="st_column _year">Idade</div>
          <div class="st_column _section">País</div>
        </div>
      </header>
      <div class="st_table ">
        <div class="st_row justify-content-center">
          <div class="st_column _rank">1</div>
          <div class="st_column _name">John</div>
          <div class="st_column _surname">Global</div>
          <div class="st_column _year">2019</div>
          <div class="st_column _section">Germany</div>
        </div>
        <div class="st_row justify-content-center">
          <div class="st_column _rank">2</div>
          <div class="st_column _name">Max</div>
          <div class="st_column _surname">Global</div>
          <div class="st_column _year">2018</div>
          <div class="st_column _section">USA</div>
        </div>
        <div class="st_row justify-content-center">
          <div class="st_column _rank">3</div>
          <div class="st_column _name">Jonas</div>
          <div class="st_column _surname">Global</div>
          <div class="st_column _year">2020</div>
          <div class="st_column _section">Germany</div>
        </div>
        <div class="st_row justify-content-center">
          <div class="st_column _rank">4</div>
          <div class="st_column _name">Janina</div>
          <div class="st_column _surname">Global</div>
          <div class="st_column _year">2019</div>
          <div class="st_column _section">Belgium</div>
        </div>
        <div class="st_row justify-content-center">
          <div class="st_column _rank">5</div>
          <div class="st_column _name">Lena</div>
          <div class="st_column _surname">Global</div>
          <div class="st_column _year">1996</div>
          <div class="st_column _section">Germany</div>
        </div>
        <div class="st_row justify-content-center">
          <div class="st_column _rank">6</div>
          <div class="st_column _name">Jonas</div>
          <div class="st_column _surname">Global</div>
          <div class="st_column _year">2018</div>
          <div class="st_column _section">Swiss</div>
        </div>
        <div class="st_row justify-content-center">
          <div class="st_column _rank">7</div>
          <div class="st_column _name">Vanessa</div>
          <div class="st_column _surname">Global</div>
          <div class="st_column _year">2020</div>
          <div class="st_column _section">Russia</div>
        </div>
        <div class="st_row justify-content-center">
          <div class="st_column _rank">8</div>
          <div class="st_column _name">laura</div>
          <div class="st_column _surname">Global</div>
          <div class="st_column _year">2019</div>
          <div class="st_column _section">Sweden</div>
        </div>
      </div>
    </div>
    <div class="st_wrap_table" data-table_id="1">
      <header class="st_table_header">
        <h2 class="editH2">AJUDAM A TORNAR O NOSSO SONHO REALIDADE</h2><br>
        <div class="st_row justify-content-center">
          <div class="st_column _rank">Ranking</div>
          <div class="st_column _name">Nome</div>
          <div class="st_column _surname">Local</div>
          <div class="st_column _year">Idade</div>
          <div class="st_column _section">Estado</div>
        </div>
      </header>
      <div class="st_table">
        <div class="st_row justify-content-center">
          <div class="st_column _rank">1</div>
          <div class="st_column _name">João</div>
          <div class="st_column _surname">Nacional</div>
          <div class="st_column _year">2019</div>
          <div class="st_column _section">RJ</div>
        </div>
        <div class="st_row justify-content-center">
          <div class="st_column _rank">2</div>
          <div class="st_column _name">Marcos</div>
          <div class="st_column _surname">Nacional</div>
          <div class="st_column _year">2020</div>
          <div class="st_column _section">SP</div>
        </div>
        <div class="st_row justify-content-center">
          <div class="st_column _rank">3</div>
          <div class="st_column _name">Josimar</div>
          <div class="st_column _surname">Nacional</div>
          <div class="st_column _year">2020</div>
          <div class="st_column _section">SP</div>
        </div>
        <div class="st_row justify-content-center">
          <div class="st_column _rank">4</div>
          <div class="st_column _name">Marcelo</div>
          <div class="st_column _surname">Nacional</div>
          <div class="st_column _year">2018</div>
          <div class="st_column _section">RS</div>
        </div>
        <div class="st_row justify-content-center">
          <div class="st_column _rank">5</div>
          <div class="st_column _name">Vanessa</div>
          <div class="st_column _surname">Nacional</div>
          <div class="st_column _year">2019</div>
          <div class="st_column _section">AC</div>
        </div>
        <div class="st_row justify-content-center">
          <div class="st_column _rank">6</div>
          <div class="st_column _name">Janaina</div>
          <div class="st_column _surname">Nacional</div>
          <div class="st_column _year">2018</div>
          <div class="st_column _section">RJ</div>
        </div>
        <div class="st_row justify-content-center">
          <div class="st_column _rank">7</div>
          <div class="st_column _name">Leonardo</div>
          <div class="st_column _surname">Nacional</div>
          <div class="st_column _year">2020</div>
          <div class="st_column _section">TO</div>
        </div>
        <div class="st_row justify-content-center">
          <div class="st_column _rank">8</div>
          <div class="st_column _name">Lauro</div>
          <div class="st_column _surname">Nacional</div>
          <div class="st_column _year">2018</div>
          <div class="st_column _section">SP</div>
        </div>
      </div>
      <header class="st_table_header">
        <h2 class="editH2">DESEJA SE TORNAR NOSSO APOIADOR?</h2><br><br>
      </header>
    </div>
  </main>
  <br><br><br><br><br><br><br><br><br><br>
  <div class="login-box margens">
    <h2>Apoiar</h2>
    <form>
      <div class="user-box">
        <div class="direita" id="txtNome"></div>
        <input type="text" name="Userlogin" id="nome" [(ngModel)]='nome' (keyup)='validaNome()'>
        <label>Nome</label>
      </div>
      <div class="user-box">
        <div class="direita" id="txtEmail"></div>
        <input type="text" name="email" id='email' [(ngModel)]='email' (keyup)='validaEmail()'>
        <label>E-mail</label>
      </div>
      <a (click)='enviar()'>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Apoiar
      </a>
    </form>
  </div>

</div>